{% extends "InfinityTube_base.html" %}

{% block content %}
<nav class="nav nav-pills nav-justified" id="channel_header">
    <a class="nav-item nav-link disabled" href="#">{{ channel_name }}</a>
    <a class="{{ active_buttons_classes[0] }}" href="/channel/{{ channel_id }}/featured">Видео</a>
    <a class="{{ active_buttons_classes[2] }}" href="/channel/{{ channel_id }}/channel_description">О канале</a>
    {% if current_user.is_authenticated %}
        {% if channel_id == current_user.id %}
            <a href="/channel_settings/{{ channel_id }}" type="button" class="btn btn-primary">Настроить вид канала</a>
        {% endif %}
    {% endif %}
</nav>

<div>
    {% block content_ %}{% endblock %}
</div>

{% endblock %}
