{% extends "InfinityTube_base.html" %}

{% block content %}
    <h1>Настройки канала</h1>
    <form enctype="multipart/form-data" method="POST" action="" class="">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>
            {{ form.channel_name.label }}
            {{ form.channel_name(class="form-control", value=default_settings["name"]) }}<br>
        </p>
        <p>
            <textarea class="form-control" name="channel_description" placeholder="Описание канала" id="text-area">{{ default_settings["description"] }}</textarea>
        </p>
        <h3>Дополнительная информация</h3>
        <p>
            {{ form.country.label }}
            {{ form.country(class="form-control", value=default_settings["country"]) }}<br>
        </p>
        <p>
            {{ form.mail_for_cooperation.label }}<br>
            {{ form.mail_for_cooperation(class="form-control", type="text", value=default_settings["mail"]) }}<br>
        </p>
        <p>
            {{ form.vk.label }}<br>
            {{ form.vk(class="form-control", value=default_settings["vk"]) }}<br>
        </p>
        <p>
            {{ form.inst.label }}<br>
            {{ form.inst(class="form-control", value=default_settings["inst"]) }}<br>
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>

{% endblock %}
