{% extends "InfinityTube_base.html" %}

{% block content %}

{% for name in videos %}
{% set videofilename = "video/" + name %}
<div>
    <a href="/open_video/{{ name }}">
<!--        <video width="400" height="300" controls="controls" poster="video/duel.jpg">-->
        <video width="400" height="300" controls="controls">
            <source src="{{ url_for('static', filename=videofilename) }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            Тег video не поддерживается вашим браузером.
        </video>
    </a>
<!--    <p><a href="/"><img src="{{ url_for('static', filename=name) }}" width="500" alt="Пример"></a></p>-->
    <p>{{ name }}</p>
</div>
{% endfor %}

{% endblock %}