{% extends "InfinityTube_base.html" %}

{% block content %}
    <h1>Загрузка видео</h1>
    <form method="POST" action="" class="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.videofile(class="form-control") }}<br>
            {% for error in form.videofile.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.video_name(class="form-control", placeholder="Название видео") }}<br>
            {% for error in form.video_name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.description(class="form-control", id="text-area", placeholder="Описание видео") }}<br>
            {% for error in form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>

    </form>
{% endblock %}